
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" *ngIf="identity">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/inicio']" routerLinkActive="active" >Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/amigos']" routerLinkActive="active" >Amigos</a>
      </li>
    </ul>

    <!-- Opciones -->
    <div class="form-inline my-2 my-lg-0">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar</button> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Opciones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/mi-perfil']" routerLinkActive="router-link-active" >Mi Perfil {{identity.name}}</a>
            <a class="dropdown-item" [routerLink]="['/mis-datos']" routerLinkActive="router-link-active" >Mis Datos</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/salir']" routerLinkActive="router-link-active" >Salir</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <app-login></app-login>
<app-register></app-register> -->
<div class="container">
  <div class="m-5">
    <div *ngIf="!identity">
      <a class="btn btn-primary btn-md btn-block" [routerLink]="['login']" routerLinkActive="router-link-active" >Login</a>
      <a class="btn btn-primary btn-md btn-block" [routerLink]="['register']" routerLinkActive="router-link-active" >Register</a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>